* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-border {
    padding: 16px;
    box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.5), 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    background:linear-gradient(115deg,blue,red,green,white,yellow,black,blue,white,red);
    animation: border 0.8s linear infinite;
}   
@keyframes border {
    100% {
        filter: hue-rotate(-360deg);
    }
}
.btn-border .btn-box {
    border-radius: 8px;
    background-color: white;
    padding: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
}
.btn-border .btn-itself {
    padding: 8px;
    font-size: 72px;
    font-weight: bolder;
    border-radius: 8px;
    background:linear-gradient(115deg,blue,red,green,white,yellow,black,blue,white,red);
    background-size: 400%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textanimation 10s linear infinite;
}
@keyframes textanimation {
    100% {
        background-position: 400%;
    }
}
.btn-border:hover:after {
    cursor: pointer;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.5),inset 4px 4px 4px rgba(0, 0, 0, 0.5);
}